.Review-header {
    outline: 0;
    border: none;
    background-color: #fafafa;
    padding: 11px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.Company-name {
    display: inline-block;
    max-width: calc(100% - 20px);
    float: left;
}

.Company-location {
	text-align: right;
    display: inline-block;
    float: right;
    white-space: normal;
    max-width: 300px;
    min-width: 53px;
    padding: 20px;
}

.Review-information {
	text-align: left;
    display: inline-block;
    width: calc(100% - 300px);
    padding: 20px;
}

.Review {
    padding: 0px !important;
    font-size: 16px !important;
}

.Review {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

.Review:first-child {
    margin-top: 1rem !important;
}

.Review:last-child {
    margin-bottom: 0;
}

.Rating {
    vertical-align: top;
    display: inline-block;
    float: right;
}

.Position {
    vertical-align: top;
    display: inline-block;
    float: center;
}
